.cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50%;
    z-index: 999;
    mix-blend-mode: exclusion;
  }
  /* .cursor--small {
    width: 4px;
    height: 4px;
    background-color: rgb(22, 20, 20);
  } */

  .cursor--large {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    left: -25px;
    top: -25px;
    -webkit-transition: transform 0.04s;
    transition: transform 0.04s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

#main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    row-gap: 2%;
    height: auto;
}


#name {
    grid-column: 2 / 12;
    grid-row: 1;
    
}

#hello {
    grid-column: 2 / 12;
    grid-row: 3;
    white-space: nowrap;
    justify-self: center;
}

#dynamic-text {
    grid-column: 9 / 12;
    grid-row: 4;
    align-self: baseline;
    justify-self: start;
}

.flex-container{
    display: flex;
    margin: 4rem 1rem;
    justify-content: center;
}

.flex-container-title{
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

article{
    margin-bottom: 2rem;
}

article > h4{
    margin-bottom: 0.6rem;
    text-decoration: underline;
}

#social-links{
    text-align: center;
}