.cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50%;
    z-index: 999;
    mix-blend-mode: exclusion;
  }
  .cursor--small {
    width: 4px;
    height: 4px;
    
    background-color: rgb(22, 20, 20);
  }

  .cursor--large {
    width: 28px;
    height: 28px;
    border: 2px solid rgb(22, 20, 20);
    left: -14px;
    top: -14px;
    /* smoothing */
    -webkit-transition: transform 0.05s; /* Safari */
    transition: transform 0.05s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
  }

#main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    row-gap: 2%;
    max-height: 100vh;
}


#navbar {
    grid-column: 2 / 12;
    grid-row: 1;
    
}

#hello {
    grid-column: 2 / 12;
    grid-row: 3;
    white-space: nowrap;
    justify-self: center;
}

#dynamic-text {
    grid-column: 9 / 12;
    grid-row: 4;
    align-self: baseline;
    justify-self: start;
}

#contacts{
    grid-column: 2 / 12;
    grid-row: 5;
    width: max-content;
}

#scroll-down{
    grid-row : 5;
    grid-column: 6/8;
    justify-self: center;
}

