@media only screen and (max-width: 600px) {

    #navbar {
        grid-column: 1/13;
        justify-self: center;
    }
  
    #main{
        grid-template-rows: repeat(3, 1fr);
    }
    #hello {
        grid-column: 1 / 13;
        grid-row: 2;
        margin: auto;
        width: min-content;
        text-align: center;
        white-space: normal;
        justify-self: center;
    }
    
    #dynamic-text {
        grid-column: 1 / 13;
        margin: auto;
        grid-row: 3;
        justify-self: center;
    }

  }