@media only screen and (max-width: 600px) {

    #navbar {
        justify-self: center;
    }
  
    #hello {
        grid-column: 1 / 13;
        grid-row: 2;
        margin: auto;
        width: min-content;
        text-align: center;
    }
    
    #dynamic-text {
        grid-column: 1 / 13;
        margin: auto;
        grid-row: 3;
    }
    #contacts {
        padding: 2%;
    }
  }