@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display&display=swap');

/* rimuovere playfair?! */
* {
    margin: 0;
    border: 0;
    padding: 0;
    cursor: default;
}

body{
    background-color: #f4f4f4f4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, a {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    /* font-display: swap; */
    color: #212121;

    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1.6s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 1.6s;
  animation-timing-function: ease;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {opacity: 0}
    to {opacity: 1}
  }
  
  /* Standard syntax */
  @keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
  }


h1 {
    /* font-family: 'Playfair Display', serif; */
    
    /* font-size: 2.8rem; */
    font-size: 40px;
    font-weight: 400;
}

h2, #contacts{
    font-weight: 400;

}

#hello > h2{
    text-transform: uppercase;
    font-size: 7.1rem;
}

#contacts > h3{
    margin-bottom: 4%;
    font-weight: 700;
}

#contacts > p {
    margin-bottom: 3%;
}

a{
    cursor: pointer !important;
}

@media only screen and (max-width: 600px) {

    #hello > h2 {
        font-size: 5rem;
    }
}